{% extends "../layout.njk" %}

{% block content %}
  <form 
    action="/admin/chefs" 
    method="POST" 
    class="card"
  >

    <div class="title">
      <h1>Criando Chef</h1>
      <button type="submit">Salvar chef</button>
    </div>

    {% include 'admin/chefs/fields.njk'%}

  </form>

{% endblock %}