<div class="item">
  <label for="image_recipe">Imagem da imagem</label>
  <div><input type="text" name="image_recipe"></div>
</div>

<div class="item">
  <label for="ingredients">Ingredientes</label>
  <div id="ingredients">
    <div class="ingredient">
      <input type="text" name="ingredients[]" value="" />
    </div>
  </div>
  <button type="button" onclick="addIngredient()" class="add-ingredient">Adicionar novo ingrediente</button>
</div>

<div class="item">
  <label for="preparations">Modo de preparo</label>
  <div id="preparations">
    <div class="preparation">
      <input type="text" name="preparations[]" value="" />
    </div>
  </div>
  <button type="button" class="add-preparation">Adicionar novo preparo</button>
</div>

<div class="item">
  <label for="informationAdditional">Informações adicionais</label>
  <div><textarea name="informationAdditional" id="" cols="30" rows="10"></textarea></div>
</div>