*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

main{
    max-width: 940px;
    width: 940px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100%;
}

header{
    display: flex;
    align-items: center;
    max-width: 940px;
    margin: 0 auto;
    padding: 20px;
}

header div img{
    margin-right: 122px;
}

.links {
    margin-right: 162px;
}

.links a{
    margin-right: 30px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.container-banner{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #FBDFDB;
    border-radius: 30px;
    height: 366px;
}

.title{
    width: 305px;
    margin-left: 60px;
    margin-top: 117px;
}

.title h1{
    margin-bottom: 10px;
}


.container__image{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.sub-title{
    margin:50px 0 20px 0; 
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    box-sizing: border-box;
    max-width: 930px;
    margin-top: 30px;
}

.receitas{
    width: 100%;
}

.image__receita img{
    border-radius: 15px;
    width: 100%;
    height: 140px;
}

.info_receita {
    margin-top: 20px;
}

.info_receita p:first-child {
    font-size: 18px;
    color: #111111;
}

.info_receita a,
.info_receita h3{
    font-size: 18px;
    line-height: 24px;
    color: #111111;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
}

.info_receita p{
    font-size: 14px;
    line-height: 24px;
}

footer{
    padding: 32px;
    text-align: center;
    background-color: #EEEEEE;
    margin-top: 50px;
}

footer p{
    font-size: 14px;
    color: #999999;
}

/*========== Sobre ==========*/
.about h1{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}

.about p{
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0 30px 0;
}

.about h2{
    font-size: 20px;
    margin: 20px 0 30px 0;
}

/* Recipe */

.recipe {
    max-width: 900px;
}

.image-content img{
    width: 100%;
    border-radius: 15px;
    height: 140px;
}

.recipe_image__container {
    width: 900px;
    height: 280px;
}

.recipe_image__container img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.info-recipe{
    margin: 40px 0;
}

.info-recipe{
    text-align: center;
}

.info-recipe h1{
    font-size: 36px;
}

.info-recipe span{
    font-size: 20px;
    color: #777777;
}

.group{
    display: flex;
    align-items: baseline;
    margin: 20px 0 39px 0;
}

.group button{
    border: none;
    background: none;
    margin-left: 8px;
    cursor: pointer;
    font-size: 12px;
    color: #999999;
}

.group button:focus{
    outline: none;
}

ul {
    padding-left: 20px;
}

ul li{
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

#infor-extra p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.hidden{
    display: block;
}

/*SEACH*/
.seach input {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    font-size: 16px;
    outline: none;
}

.seach button {
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    background: #6558C3;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/*CHEFS*/

.card_chefs{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.chef{
    display: flex;
    align-items: center;
}
.image_chef {
    margin-right: 16px;
}

.image_chef img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.info_chef p:first-child{
    font-size: 18px;
    color: #111111;
    margin-bottom: 4px;
}

.info_chef p:last-child {
    font-size: 14px;
    color: #666666;
}