<div class="item">
    <label for="image_recipe">Imagem da imagem</label>
    <div>
      <input
        type="text" 
        name="image_recipe" 
        value="{{ recipe.image }}"
      >
    </div>
  </div>

<div class="item">
  <label for="chef">Chef</label>
  <div>
    <select name="chef" id="">
      <option value="" disabled selected>Selecione um chef</option>
      {% for chef in chefsOptions %}
        <option value="{{ chef.id }}" {% if recipe.chef_id == chef.id %} selected {% endif %}>
          {{ chef.name}}
        </option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="item">
  <label for="title_recipe">Nome da receita</label>
  <div>
    <input 
      type="text" 
      name="title_recipe" 
      value="{{ recipe.title }}"
    >
    </div>
</div>

<div class="item" id="ingredients">
  <label for="ingredients">Ingredientes</label>
    {% for ingredient in recipe.ingredients %}
      <div class="ingredients">
        <input 
          type="text" 
          name="ingredients[]" 
          value="{{ ingredient }}" 
        />
      </div>
    {% else %}
      <div class="ingredients">
        <input 
          type="text" 
          name="ingredients[]" 
          value=""
        >
      </div>
    {% endfor %}
</div>
<button type="button" class="add-ingredient button">Adicionar novo ingrediente</button>

<div class="item" id="preparations">
  <label for="preparations">Modo de preparo</label>
    {% for preparation in recipe.preparation %}
      <div class="preparation">
        <input 
          type="text" 
          name="preparations[]" 
          value="{{ preparation }}" 
        />
      </div>
    {% else %}
      <div class="preparation">
        <input 
          type="text" 
          name="preparations[]" 
          value=""
        >
      </div>
    {% endfor %}
</div>
<button type="button" class="add-preparation button">Adicionar novo ingrediente</button>

<div class="item">
  <label for="informationAdditional">Informações adicionais</label>
  <div>
    <textarea 
      name="informationAdditional" 
      cols="30" 
      rows="10">{{ recipe.information }}
    </textarea>
  </div>
</div>

<script>
    const addIngredient = document.querySelector('.add-ingredient');
    const addStep = document.querySelector('.add-preparation');

    function addField(id, container) {
        const fieldId = document.querySelector(id);
        const fieldContainer = document.querySelectorAll(container);
        const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);
        if (newField.children[0].value == '') return false;
        newField
            .children[0]
            .value = '';
        fieldId.appendChild(newField);
    }

    addIngredient.addEventListener('click', () => addField('#ingredients', '.ingredients'));
    addStep.addEventListener('click', () => addField('#preparations', '.preparation'));

</script>