{% extends "./layout.njk" %}

{% block head %}
    <title>Foodfy | Home</title>
{% endblock %}

{% block filter %}
    <div class="seach">
            <form action="/seach" method="GET">
                <input 
                    type="text"
                    name="filter"
                    placeholder="Buscar uma receita"
                >
                <button type="submit">Buscar</button>
            </form>
        </div>
{% endblock %}


{% block content %}
    <main>
        <div class="container-banner">
            <div class="title">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="container__image">
                <img src="assets/chef.png" alt="">
            </div>
        </div>

        <div class="sub-title">
            <h2>Mais acessadas</h2>
        </div>

        <div class="card">
        {% for recipe in recipes %}
           <div class="receita">
               <div class="image__receita">
                   <img src="{{recipe.image}}" alt="">
               </div>
               <div class="info_receita">
                   <p>{{recipe.title}}</p>
                   <p>por {{recipe.chef_name}}</p>
               </div>
           </div>
        {% endfor %}
        </div>
    </main>
{% endblock %}