{% extends "./layout.njk" %}

{% block head %}
    <title>Foodfy | Buscar Receitas</title>
{% endblock %}

{% block filter %}
    <div class="seach">
            <form action="/seach" method="GET">
                <input 
                    type="text"
                    name="filter"
                    placeholder="Buscar uma receita"
                >
                <button type="submit">Buscar</button>
            </form>
        </div>
{% endblock %}

{% block content %}
    <main>
        <h1>Buscando por "{{ filter }}"</h1>

        <div class="card">
          {% for recipe in recipes %}
              <div class="receita" id="{{ recipe.id }}">
                  <div class="image__receita">
                      <img src="{{ recipe.image }}" alt="">
                  </div>
                  <div class="info_receita">
                      <a href="/recipes/{{ recipe.id }}">{{ recipe.title }}</a>
                      <p>por {{ recipe.name }}</p>
                  </div>
              </div>
          {% endfor %}
      </div>
    </main>

    <script src="/scripts.js"></script>

{% endblock %}