{% extends "./layout.njk" %}

{% block head %}
    <title>Foodfy | Buscar Receitas</title>
{% endblock %}

{% block content %}
    <main>
        <div class="card">
          <h1>Buscando por</h1>
          {% for recipe in recipes %}
              <div class="receita" id="{{ recipe.id }}">
                  <div class="image__receita">
                      <img src="{{ recipe.image }}" alt="">
                  </div>
                  <div class="info_receita">
                      <a href="/recipes/{{ recipe.id }}">{{ recipe.title }}</a>
                      <p>por {{ recipe.author }}</p>
                  </div>
              </div>
          {% endfor %}
      </div>
    </main>

    <script src="/scripts.js"></script>

{% endblock %}